* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}
header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}
main{
    padding-left: 5rem;
    padding-right: 5rem;
}
h1{
    font-weight: 300;
    font-style: normal;
    font-size: 3.5vh;
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 7%;
}
.home .intro{
    display: flex;

    flex-direction: column;
}
.home .intro h2 {
    font-size: 5vh;
    background-color: #0db0f6;
    margin-top: 2px;
}

.home .intro p {
    font-size: 7vh;
    text-align: center;
}

.redes{
    margin-top:2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.redes a {
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    margin: 7px;
}
.redes #github{
    background-color: black;
}
.redes #linkedin{
    background-color: #0e76a2;
}
.redes #insta{
    background-color: #E4405F;
}
#img-apresentacao {
    max-width: 60vh;
    border-radius: 50% 90% 25% 80%;
}

@media(max-width:900px){
    .home{
        flex-direction: column-reverse;
    }
    .intro{
        justify-content: center;
        align-items: center;
    }
    #img-apresentacao{
        max-width: 45vh;
    }
    .home p{
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* SEÇÃO SOBRE MIM */
.sobre h2{
    font-size: 5vh;
}
.sobre p{
    margin: 8px;
}
.txt-destaque{
    color: #0db0f6;
    font-weight: 400;
}

@media(max-width:900px){
    .sobre{
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* SEÇÃO HABILIDADES */

.skills{
    padding-top: 5rem;
}
