* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
.nav-bar {
    height: 12vh;
    display: flex;
    align-items: center;
    padding:0 5vh 0 5vh;
    border-bottom: 1px solid #0db0f6;
    justify-content: space-between;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
header ul li{
    margin-left: 7px;
    margin-right: 7px;
}
header ul li a{
    text-decoration: none;
    color: black;
    transition: .5s;
}
header ul li a:hover{
    transition: .5s;
    color: #0db0f6;
    border-bottom: 1px solid #0db0f6;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

@media screen and (max-width:730px){
    /* .nav-bar{
        padding: 1.5rem 4rem ;
    } */
    .nav-bar ul{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .open{
        display: block;
        transition: 1s;
    }
}
main{
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5rem;
    background-color: rgb(220, 219, 219);
}
hr{
    width: 30px;
    border:1.5px solid #03b3ff; 
    animation: movimento 3s infinite ease-in-out;
}
@keyframes movimento{
    50%{
        margin-left: 8rem;
    }
    100%{
        margin-left: 0;
    }
}
h1{
    font-weight: 300;
    font-style: normal;
    font-size: 3.5vh;
}
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 7%;
}
#home .intro{
    display: flex;

    flex-direction: column;
}
@media(min-width: 900px){
    #home .intro{
        width: 50%;
    }
}
h2 {
    font-size: 4vh;
}
.marca-texto{
    background-color: #0db0f6;
    color: white;
}
#home .intro h3 {
    font-size: 6vh;
    /* text-align: center; */
}
.redes{
    margin-top:2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.redes a {
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    margin: 7px;
}
.redes a:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.redes #github{
    border:1px solid black;
    color: black;
    transition: 0.5s;
}
.redes #github:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.redes #linkedin{
    border: 1px solid #0e76a2;
    color: #0e76a2;
    transition: 0.5s;
}
.redes #linkedin:hover{
    background-color: #0e76a2;
    color: white;
    transition: 0.5s;
}
.redes #insta{
    border: 1px solid #E4405F;
    color: #E4405F;
    transition: 0.5s;
}
.redes #insta:hover{
    background-color: #E4405F;
    color: white;
    transition: 0.5s;
}
#img-apresentacao {
    max-width: 70vh;
    border-radius: 50%;
    animation:  example 3s infinite ease-in-out;
}

@keyframes example{
    50%{
        border-radius: 40% 70% 40% 60%;
    }
}


/* SEÇÃO SOBRE MIM */
#sobre{
    padding-bottom: 5rem;
}
#sobre p{
    margin: 8px;
}
.txt-destaque{
    color: #009de0;
    font-weight: 400;
}
/* SEÇÃO HABILIDADES */

#skills{
    padding-bottom: 5rem;
}
#skills h2{
    font-size: 5vh;
}

/* CARD DE HABILIDADES */

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.skill-card{
    width: 8rem;
    height: 8rem;
    background-color: black;
    border-bottom: 10px solid #0db0f6;
    color: white;
    border-radius: 20px;
    margin: 0.5rem;


    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 2rem; */
}
.icon p{
    font-size: 20px;
}

.skill-experincia{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 18px;
    opacity: 0.7;
}
/* SEÇÃO PROJETOS */
.img-projetos{
    /* width:50vh; */
    border-radius: 2rem;
    display: flex;
    justify-content: end;
}
.img-projetos img{
    max-width: 70vh;
    min-width: auto;
    object-fit: cover;
    transition: 0.8s;
}
.img-projetos img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
    object-fit: contain;

}
.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;

    margin-top: 3rem;
}
.container-txt-projeto-direita{
    display: flex;
    justify-content: end;
}
.txt-projeto{
    /* margin-top: 2rem; */

    max-width: 70vh;
    min-width: auto;
}
.button-project{
    margin-top:5px;
    display: flex;
    flex-wrap: wrap;
}
.button-project a{
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    color: rgb(118, 116, 116);
    border-radius: 30px;
    margin: 7px;
}
.button-project a:hover{
    transform: scale(0.9);
    transition: 0.5s;
}
#repositório{
    border: 1px solid rgb(118, 116, 116);
    transition: 0.5s;
}
#repositório:hover{
    border: 1px solid #0db0f6;
    background-color: #0db0f6;
    color: white;
    transition: 0.5s;
}
#visualizar{
    background-color: #0db0f6;
    color: white;
    transition: 0.5s;
}

#alinhamento-direita{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: end;
    text-align: end;
}
#img-projetos-direita{
    display: flex;
    justify-content: start;
}
.txt-projeto p{
    font-size: 14px;
}
.txt-secundario{
    font-size: 12px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.7;
}
/* FOOTER */
footer{
    text-align: center;
    background-color: rgb(62, 62, 62);
    color: white;
}
footer h2{
    padding-top: 2rem;
}
.redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.redes-sociais a{
    margin: 2.5vh 5vh 2.5vh 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.redes-sociais a:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.redes-sociais a i{
    font-size: 8vh;
    color: white;
 
}
@media(max-width:900px){
    #home{
        flex-direction: column-reverse;
    }
    .intro{
        justify-content: center;
        align-items: center;
    }
    #img-apresentacao{
        max-width: 45vh;
    }
    #home p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .sobre{
        padding-left: 5px;
        padding-right: 5px;
    }


    .project{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        column-gap: 4rem;
    }

    .img-projetos,#img-projetos-direita,.container-txt-projeto,.container-txt-projeto-direita{
        /* width:50vh; */
        border-radius: 2rem;
        display: flex;
        justify-content: center;
    }
    #alinhamento-direita{
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: start;
        text-align: start;
    }
    #project-right{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-projetos img{
        max-width: 50vh;
        min-width: 30vh;
    }
    .project{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:700px){
    .redes{
        margin-top:2vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}
