/* MENU RESPONSIVO */
@media screen and (max-width:730px){
    .nav-bar ul{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .open{
        display: block;
        transition: 1s;
    }
}
/* FIM MENU RESPONSIVO */

@media(max-width:900px){
    #home{
        flex-direction: column-reverse;
    }
    .intro{
        justify-content: center;
        align-items: center;
    }
    #img-apresentacao{
        max-width: 45vh;
    }
    #home p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .sobre{
        padding-left: 5px;
        padding-right: 5px;
    }
    .img-projetos img{
        max-width: 50vh;
        object-fit: contain;
    }
    .img-projetos{
        align-items: start;
        padding-top: .5rem;
    }
    .txt-projeto p{
        font-size: 12px;
    }
    .button-project a{
        font-size: 12px;
    }
    .project{
        column-gap: 2rem;
    }

}
@media(max-width:700px){
    .redes{
        margin-top:2vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 3rem;
    }
    .img-projetos img{
        max-width: 100%;
        max-height: none;
        object-fit: contain;
    }
    .container-txt-projeto-direita, .container-txt-projeto{
        justify-content: center !important;
        height: auto;
        width: auto;
    }
    #alinhamento-direita {
        justify-content: start ;
        align-items: start;
        text-align: start;
    }
    .img-projetos{
        justify-content: center !important;
        height: auto;
        width: auto;
    }
    .txt-projeto{
        margin-top: 1rem;
        max-width: 100%;
    }
    #project-right{
        display: flex;
        flex-direction: column-reverse;   
    }
}
@media(max-width:450px){
    #img-apresentacao{
        max-width: 45vh;
        min-width: 40vh;
    }

}
@media(max-width:400px){
    .intro h2{
        font-size: auto;
        white-space: nowrap !important;
    }
    #home .intro h3{
        font-size: 5vh;
    }
}
@media(max-width:370px){
    .skill-card{
        width: 5rem;
        height: 5rem;
    }
    .skill-card .icon p{
        font-size: 13px;
    }
    .skill-card .icon img{
        width: 40px;
    }
    .skill-card .icon svg{
        width: 40px;
    }
}